@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
@import url('https://fonts.googleapis.com/css?family=Helvetica');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(https://images.pexels.com/photos/409127/pexels-photo-409127.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-size: cover;
	display: table;
	top: 0;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1{
	font-family: 'Bitter', sans-serif;
	color: #DFECF8;
	text-shadow: 0px 0px 300px #000;
	font-size: 230%;
}

.content blockquote {
	font-family: 'Architects Daughter', sans-serif;
	color: #032E2A;
	text-shadow: 0px 0px 300px #000;
	font-size: 150%;
}

.btn {
	border-radius: 9px;
	font-family: 'Helvetica', sans-serif;
	color: #FCFAF9;
	font-size: 100%;
	padding: 10px 20px;
	border: #26902D 1.5px solid;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #0C0922;
}

.btn:hover {
	color: #ABC7AD;
	border: #26902D 3px solid;
}


.intro2 {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(https://images.pexels.com/photos/261388/pexels-photo-261388.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: cover;
	display: table;
	top: 0;
}

.branding {
	float: left;
	margin-left: 15px;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 5px 30px; 

}

nav {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #333;
  opacity: .9;

}

ul { 
	float: right;
	list-style-type: none;
	
}
li {
  float: left;
  font-size: 20px;

}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 9px;
}

li a:hover {
  background-color: #282505;
}

.active {
	border: #26902D 3px solid;
	background-color: #0C0922;
	border-radius: 9px;
	padding-bottom: 1px;
}




/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #828D86;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 38px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #078966;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #074F89;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #893907 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
	  font-family: 'Quicksand', sans-serif;
	  padding: 0px;
	  background-color: #EDE8B4;
	  position: relative;
	  border: #26902D 3px solid;
	  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #078966 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}